CLIENT_URL = 
VITE_APPWRITE_URL =
VITE_APPWRITE_PROJECT_ID = 
VITE_APPWRITE_DATABASE_ID =
VITE_APPWRITE_PRODUCT_COLLECTION_ID =
VITE_APPWRITE_CART_COLLECTION_ID ="
VITE_APPWRITE_ADVENTURES_COLLECTION_ID =
VITE_APPWRITE_BUCKET_ID =
VITE_STRIPE_PUBLISHABLE_KEY =
VITE_SECRET_KEY = 
